@media (width <= 375px) {
  :root {
    --window_width: 100%;
  }

  .page .card_description {
    padding-right: 30px;
  }

  .page .watermark {
    right: 12px;
    top: 27px;
  }

  .page .footer_button {
    flex-direction: column;
    padding: 0 10px;
    height: 83px;
  }

  .page .floppy_footer {
    width: 28px;
  }
}
