.header_title:focus-visible,
.header_title:focus {
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 5%;
  width: 90%;
  height: 2px;
  scale: 0 1;
  transform-origin: 0 0;
  background-color: var(--theme_color);
  transition: scale 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--theme_color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme_color);
  scale: 0 1;
  transform-origin: 0 0;
  transition: scale 0.5s ease-in-out;
}

button:hover .button__text {
  color: var(--button_text);
  mix-blend-mode: difference;
}

button:hover .floppy_form {
  fill: var(--button_text);
  mix-blend-mode: difference;
}

.button:hover::before {
  scale: 1 1;
}
