/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --theme_color: #000;
  --bg_image: url(../images/bg\ light.png);
  --bg_color: #fff;
  --font_weight: 400;
  --bg_gradient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      rgba(211 211 211 / 0) 2px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a 2px);
  --text_shadow: 1px 1px 0px #fff;
  --text_stroke: #fff;
  --button_text: #fff;
  --heart_contour_color: #000;
  --text_weight: 400;
}

:root.theme-dark {
  --main_font: "Inter-Variable", sans-serif;
  --accent_font: "PressStart2P", sans-serif;
  --theme_color: #00cc14;
  --bg_image: url(../images/bg\ dark.png);
  --bg_color: #000000;
  --font_weight: 465;
  --bg_gradient: repeating-linear-gradient(to right, #000, rgba(0 0 0 / 0) 2px),
    repeating-linear-gradient(to bottom, #007f0c, #004306 2px);
  --window_width: clamp(23.188rem, 30.545vw + 16.009rem, 43.5rem);
  --text_shadow: 1px 1px 0px #000;
  --text_stroke: #000;
  --button_text: #00cc14;
  --heart_contour_color: #00cc14;
  --heart_sparks_color: #ff0000;
  --text_weight: 465;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme_color: #000;
    --bg_image: url(../images/bg\ light.png);
    --bg_color: #fff;
    --font_weight: 400;
    --bg_gradient: repeating-linear-gradient(
        to right,
        #d3d3d3,
        rgba(211 211 211 / 0) 2px
      ),
      repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a 2px);
    --text_shadow: 1px 1px 0px #fff;
    --text_stroke: #fff;
    --button_text: #fff;
    --heart_contour_color: #000;
    --text_weight: 400;
  }
}
