/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --theme_color: #000;
  --bg_image: url(../images/bg\ light.png);
  --bg_color: #fff;
  --font_weight: 400;
  --bg_gradient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      rgba(211 211 211 / 0) 2px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a 2px);
  --text_shadow: 1px 1px 0px #fff;
  --text_stroke: #fff;
  --button_text: #fff;
  --heart_contour_color: #000;
  --text_weight: 400;
}

@media (prefers-color-sceme: light) {
  :root {
    --theme_color: #000;
    --bg_image: url(../images/bg\ light.png);
    --bg_color: #fff;
    --font_weight: 400;
    --bg_gradient: repeating-linear-gradient(
        to right,
        #d3d3d3,
        rgba(211 211 211 / 0) 2px
      ),
      repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a 2px);
    --text_shadow: 1px 1px 0px #fff;
    --text_stroke: #fff;
    --button_text: #fff;
    --heart_contour_color: #000;
    --text_weight: 400;
  }
}
